<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Mores Creek Ambulance | Under Maintenance</title>
	<meta name="author" content="Russ Whitney">
	<!-- Date: 2011-10-26 -->
</head>
<body>
	<p>
		We’re currently offline for <%= reason ? reason : 'maintenance' %> as of <%= Time.now.strftime('%I:%M%p %Z') %>.
	</p>
	<p>
		Sorry for the inconvenience. We’ll be back <%= deadline ? "by #{deadline}" : 'shortly' %>.
	</p>
</body>
</html>
