<h2 align="center">General Information About Mores Creek Ambulance</h2>
<br><br>

<center>
	<%= image_tag 'mcalogo.jpg', :alt => "Mores Creek Ambulance Logo", :align => "center", :size => "200x192" %>
</center>
<h2><i>Unity...  Compassion... Diligence...  Professionalism...</i></h2><br>

<h3>Mores Creek Ambulance is a volunteer organization committed to providing emergency medical service 
with care and compassion for our community, friends, and neighbors.</h3><p>

Mores Creek Ambulance is a part of East Boise County EMS. Our sister units are: Idaho City, Placerville, and Lowman. 
Where necessary, we back up the other units, and they back up ours. Our units are all EMT-B certified.<p>

The Mores Creek Ambulance service area extends from Hi-Bridge (the county line on Highway 21) to 
milemarker 29.5 on Highway 21, and from Bogus Basin to Atlanta.<p>

<%= link_to 'Home', :action => 'index' %>
