<h1>General Information</h2>
<h2>
	Serving Boise County since 1990
</h2>
<h3>
	Mores Creek Ambulance is a volunteer organization committed to providing emergency 
	medical service with care and compassion for our community, friends, and neighbors.
</h3>
<p>
	Mores Creek Ambulance is a part of East Boise County EMS. Our sister units are: 
	Idaho City, Placerville, and Lowman. Where necessary, we back up the other units, 
	and they back up ours. Our units are all EMT-B certified.
</p>
<p>
	The Mores Creek Ambulance service area extends from Hi-Bridge (the county line on Highway 21) to 
	milemarker 29.5 on Highway 21, and from Bogus Basin to Atlanta.
</p>
<%= link_to 'Home', :action => 'index' %>
