<h2>MORES CREEK AMBULANCE</h2>
<div class="iconbox">
	<%= link_to image_tag('PDF-sm.png', :size => '64x64', :alt => "MCA Brochure"), :action => 'brochure' %>
	<br />
	<%= link_to 'Our Brochure', :action => 'brochure' %>
</div>
<p>
	Mores Creek Ambulance first began in 1990 with a group of about 13 volunteers.  
	At this time we had only a tin shed and a very used van to respond as a basic 
	life support emergency medical transport unit. Since then, we have grown and 
	have acquired a fully equipped transport ambulance and our own ambulance building.  
	But we still rely on volunteers to staff the ambulance.
</p>
<p>
	The only way this unit is able to respond to the aid of Boise County residents 
	and recreational enthusiasts is through the support of the community.
</p>
<p>
	<quote>“We are here to provide quick response for the community and our own families..”</quote>
</p>
<h2>COVERAGE AREA</h2>
<p>
	Mores Creek Ambulance covers approximately 700 square miles.
</p>
<p>
	Our coverage begins at the Ada/Boise county line on Highway 21, and extends north to 
	milepost 29.  Coverage extends from Grimes Creek Road at Highway 21, west 4 miles to 
	the wooden bridge, including the Clear Creek area.  We also cover Spring Shores Marina 
	and up Arrowrock Road 11 miles during the summer and all the way to Atlanta City in the 
	winter.
</p>
<p>
	Our response area includes the major subdivision and recreational areas of Spring Shores 
	Marina, Mores Creek, Robie Creek, Wilderness Ranch, Clear Creek and Osprey.
</p>
<%= image_tag("MCA-Area-Map.png", :size => "308x326", :alt => "Mores Creek service area") %>
<h2>OUR MISSION-- TO MAKE A DIFFERENCE</h2>
<p>
	Our mission is to provide safe emergency response to medical or trauma incidents 
	within our service area and extended service area of East Boise County.
</p>
<p>
	We do this by providing training, educational tools, equipment and support to all of our 
	volunteers. Local EMT volunteers are certified by the State of Idaho, and Drivers are 
	trained to assist with patient transport.
</p>
<h2>TEAMWORK</h2>
<p>
	Mores Creek volunteers believe in working together towards a common goal.  We are a member 
	of the East Boise County Ambulance District, and work with local fire and law enforcement 
	departments to provide the best emergency care possible
</p>
<h2>CALL OUT PROCEDURES</h2>
<p>
	To activate the Mores Creek Ambulance, call one of these emergency response numbers:
	<ul>
		<li>Dial 911</li>
		<li>State Emergency Medical Service Communications Center at 1-800-632-8000</li>
	</ul>
</p>

