<h2>Unity... Compassion... Diligence... Professionalism...</h2>
<p>
	Mores Creek Ambulance is a volunteer organization commited to providing emergency
	medical service with care and compassion for our community, friends and neighbors.
</p>
<%= image_tag("MCA-Area-Map.png", :size => "308x326", :alt => "Mores Creek service area") %>
<p>
	The Mores Creek Ambulance services are extends from High Bridge (the county line
	on Highway 21) to milemarker 29.5 on Highway 21 and from Bogus Basin to Atlanta.
</p>
<p>
	Mores Creek Ambulance is a part of East Boise County EMS. Our sister units are Idaho
	City, Placerville and Lowman. Where necessary, we back up the other units and they
	back up ours.
</p>
<p>
	Our units are all EMT-B certified.
</p>
<p>
	If you live in the area of Mores Creek, consider 
	<%= link_to 'volunteering', :action => 'volunteerinfo' %> to be part of our ambulance
	staff.
</p>
