<h2 align="center">Mores Creek Ambulance - Useful Links</h2>

<br><hr>
<h3>Supply Companies</h3>
<table width=100%>
<tr><td><a href="http://www.galls.com">Gall's</a></td><td><a href="http://www.allmed.net">Allmed</a></td></tr>
<tr><td><a href="http://www.statmedical.com">Stat Medical</a></td><td><a href="http://www.flightsuits.com">Flight Suits</a></td></tr>
<tr><td><a href="http://www.chiefsupply.com">Chief Supply</a></td><td><a href="http://www.copshopetc.com">The Cop Shop</a></td></tr>
<tr><td><a href="http://www.mfiap.com/halo">HALO Reflective Systems</a></td><td><a href="http://www.pmrtechmed.com">TechMed</a></td></tr>
<tr><td><a href="http://www.dixieems.com">Dixie EMS Supply</a></td><td><a href="http://www.fire-end.com">FireEnd</a></td></tr>
<tr><td><a href="http://www.emtcatalog.com">Robert's EMT Catalog</a></td><td><a href="http://www.firecatalog.com">Robert's Fire Catalog</a></td></tr>
<tr><td><a href="http://www.riteintherain.com">Waterproof Notebooks</a></td><td><a href="http://www.pacificrescue.com">Pacific Rescue</a></td></tr>
<tr><td><a href="http://www.rbfab.com">R and B Fabrications</a></td><td>&nbsp;</td></tr>
</table><br><hr>

<h3>Disaster Planning/Preparedness</h3>
<table width=100%>
<tr><td><a href="http://www.ready.gov">Ready.gov</a></td><td><a href="http://www.fema.org">F.E.M.A.</a></td></tr>
<tr><td><a href="http://www.bananapack.com">Banana Pack</a></td><td><a href="http://www.idahoprepares.com">Idaho Prepares</a></td></tr>
</table><br><hr>

<h3>Misc Links</h3>
<table width=100%>
<tr><td><a href="http://www.nremt.org">National EMT Registry</a></td><td><a href="http://www.myscannerpage.com/boise.html">Boise County Radio Frequencies</a></td></tr>
<tr><td><a href="http://www.slrmc.org">St. Lukes</a></td><td><a href="http://www.americanheart.org">American Heart Association</a></td></tr>
<tr><td><a href="http://www.redcross.org">American Red Cross</a></td><td><a href="http://www.adaparamedics.org">Ada County Paramedics</a></td></tr>
<tr><td><a href="http://www.co.boise.id.us">Boise County</a></td><td><a href="http://www.emsvillage.com">EMS Village</a></td></tr>
<tr><td><a href="http://www.saintalphonsus.org/index.html">St. Alphonsus (includes Life Flight)</a></td><td><a href="http://www.state.id.us">State of Idaho</a></td></tr>
<tr><td><a href="http://www2.state.id.us/dhw/EMS/home.htm">State EMS (StateComm)</td><td><a href="http://www.earlham.edu/~peters/knotlink.htm#rescue">Index of website about knots (very large!)</a></td></tr>
<tr><td><a href="http://www.equipped.com">Survival Techniques and Planning</a></td><td><a href="http://www.cprconnection.com">CPR Connection</a></td></tr>
<tr><td><a href="http://www.firehouse.com">VERY Good Fire and EMS Info Site</a></td><td><a href="http://www.fs.fed.us/r6/uma/ims">Incident Medical Specialist</td></tr>
<tr><td><a href="http://www3.state.id.us/cgi-bin/newidst?sctid=490090010A.K">Red Light Statute</a></td><td><a href="http://www3.state.id.us/cgi-bin/newidst?sctid=490060023.K">Emergency Driving Statute</a></td></tr>
<tr><td><a href="http://www.healthandwelfare.idaho.gov/site/3344/default.aspx">Health and Welfare</a></td><td></td></tr>
</table>

<br><hr>
<%= link_to 'Home', :action => 'index' %>
