<h2 align="center">Volunteering for or Donating to Mores Creek Ambulance</h2>
<br>

<b><i>Do I have to be an EMT to volunteer?</i></b><br>
Definitely not! Besides EMT's, we need drivers, administrative skills, baby-sitters, etc.<br><br>

<b><i>Do I have to live in the Mores Creek service area to volunteer?</i></b><br>
Definitely not! Our facility has quarters for up to two people. Volunteers pulling shift overnight have use of the 
facility. It has 2 single beds, a kitchen, and a living room. We currently have a number of volunteers on our staff 
who are not from east Boise county.<br><br>

<b><i>What credentials do I need to be a volunteer EMT?</i></b><br>
You need to be nationally and Idaho state certified. You also need the driver training listed below.<br><br>

<b><i>What credentials do I need to be a driver?</i></b><br>
Drivers need CPR and hazardous materials training, both of which we can help schedule you for, and driver 
training by the Mores Creek Ambulance unit.<br><br>

<b><i>I'm not currently an EMT, but would like to become one. What's involved?</i></b><br>
We can assist you with registering for a class. The class is approximately 120 hours. Boise county will pay
for the most of the training and will reimburse you for the remainder after being an active EMT for 2 years.<br><br>

<b><i>What's the time commitment like?</i></b><br>
Staying active in the unit requires you to pull at least eight 6-hour shifts every two months, and attend at least four 
training sessions per year.<br><br>

<b><i>What's the call volume for Mores Creek Ambulance?</i></b><br>
Mores Creek Ambulance averages between 50 and 70 transports per year.<br><br>

<b><i>I don't want to volunteer, but I'd like to support Mores Creek Ambulance. How can I help?</i></b><br>
Monetary donations are gladly accepted. The money is used for uniforms, supplies, training, etc. Equipment donations 
are also useful, provided the equipment is needed by the unit. Tax receipts are available for all donations.<br><br>

<b><i>How can I get more information? How can I sign up? How can I make a donation?</i></b><br>
Please contact our board at <%= mail_to "mcaboard@mcaems.org", "More information" %><br><br>
