<h2>Getting Involved</h2>
<p>
	If you would like to volunteer with any level of involvement, please fill out our application
	and email it to our <%= mail_to 'board@mcaems.org', 'board'%>.
</p>
<div class="iconbox">
	<%= link_to image_tag('PDF-sm.png', :size => '64x64', :alt => "MCA Application"), :action => 'memberapp' %>
	<br />
	<%= link_to 'Our Member Application', :action => 'memberapp' %>
</div>
<h2>Questions &amp; Answers</h2>
<p>
	<em>Do I have to be an EMT to volunteer?</em>
	Definitely not! Besides EMT's, we need drivers, administrative skills, baby-sitters, etc.
</p>

<p>
	<em>Do I have to live in the Mores Creek service area to volunteer?</em>
	Definitely not! Our facility has quarters for up to two people. Volunteers pulling shift 
	overnight have use of the facility. It has 2 single beds, a kitchen, and a living room. 
	We currently have a number of volunteers on our staff who are not from east Boise county.
</p>

<p>
	<em>What credentials do I need to be a volunteer EMT?</em>
	You need to be nationally and Idaho state certified. You also need the driver training 
	listed below.
</p>

<p>
	<em>What credentials do I need to be a driver?</em>
	Drivers need CPR and hazardous materials training, both of which we can help schedule you 
	for, and driver training by the Mores Creek Ambulance unit.
</p>

<p>
	<em>I'm not currently an EMT, but would like to become one. What's involved?</em>
	We can assist you with registering for a class. The class is approximately 120 hours. Boise 
	county will pay for the most of the training and will reimburse you for the remainder after 
	being an active EMT for 2 years.
</p>

<p>
	<em>What's the time commitment like?</em>
	Staying active in the unit requires you to pull at least eight 6-hour shifts every two months, 
	and attend at least four training sessions per year.
</p>

<p>
	<em>What's the call volume for Mores Creek Ambulance?</em>
	Mores Creek Ambulance averages between 50 and 70 transports per year.
</p>

<p>
	<em>I don't want to volunteer, but I'd like to support Mores Creek Ambulance. How can I help?</em>
	Monetary donations are gladly accepted. The money is used for uniforms, supplies, training, etc. 
	Equipment donations are also useful, provided the equipment is needed by the unit. Tax receipts 
	are available for all donations.
</p>

<p>
	<em>How can I get more information? How can I sign up? How can I make a donation?</em>
	Please contact our board at <%= mail_to "mcaboard@mcaems.org", "this email address" %>.
</p>
