<h2>MCA Ambulance Operations</h2>


<h3>General</h3>
<p>
	Remember, when fully loaded, the weight of the ambulance can approach 
	10,000 pounds. It is NOT a sports car. As the saying goes, "Drive to 
	arrive alive." Also, if there is a patient in the back s/he will appreciate 
	not being flung back and forth on the curves. The lead EMT will help determine 
	the urgency of the transport.
</p>
<p>
	When you are driving the ambulance to or from a call, there will be other 
	people riding in the back. If you must make a quick stop or turn, or you 
	must drive over a large bump or dip, try to warn the people in the back. 
	Also be sure to let the crew in the back know where the ambulance is, 
	so they will know how far they are from the scene or the hospital.
</p>
<h3>4 Wheel Drive</h3>
<p>
	MCA's ambulance has a part-time four-wheel drive system. The ambulance can 
	be shift from 2H to 4H while moving, provided the rear wheels are not spinning 
	freely, and the ambulance is going relatively straight.
</p>
<p>
	It can be shift from 4H to 2H while moving in a relatively straight line. If 
	you've been operating in 4wd on a higher traction surface, there may be some 
	drivetrain tension, and you may hear/feel a "clunk" as you shift to 2H.
</p>
<p>
	To shift between 4H and 4L, the ambulance must be stopped, and the transmission 
	place in Neutral or Park.
</p>
<p>
	Never operate the ambulance in 4wd on dry pavement, or smooth hard-packed dirt. 
	When in 4wd, the front and rear axles are "locked" together. As a vehicle goes 
	around a corner, the front axle travels a greater distance than the rear. If you 
	are on dry pavement in 4wd, the tires have too much traction to slip, and the 
	result can be broken drivetrain parts!
</p>
<p>
	Lastly, 4wd can be used on washboard roads (eg, to Atlanta) to make the ambulance 
	more stable.
</p>

<h3>Lights and Siren</h3>
<p>
	Lights and siren should not be used in neighborhoods. They should also not be used 
	in the city unless absolutely necessary. While on the highway, use the siren only 
	if necessary. The lead EMT will make the decision as to whether or not to run code.
</p>
<p>
	If you are using lights and siren, change the pitch of the siren frequently. This 
	will make it more noticeable to other motorists. Also remember that some peoples' 
	reaction to an ambulance running code can be unpredictable. Plan accordingly!
</p>
<h3>Glow Plugs/TurboCharger</h3>
<p>
	Our ambulance is powered by a 6.5l turbodiesel engine. When starting the engine, be 
	sure to turn the ignition on and wait for the "Wait to start" light to go off. This 
	signifies that the glow plugs have been allowed to heat up. If you try to start the 
	engine before the glow plugs have warmed, the engine will most likely not start.
</p>
<p>
	If the ambulance has been driven hard, be certain to let it idle for a few minutes 
	before shutting it down. This allows the turbocharger to cool off while oil is still 
	being circulated around it's bearing. When driven hard, the turbocharger gets very hot. 
	If you stop the engine immediately, the oil around the turbo's bearing will turn in 
	to sludge, which will prevent the bearing from being properly lubricated in the future. 
	This will result in a ruined turbocharger!
</p>
<h3>Auto-Deploying Chains</h3>
<p>
	Our ambulance is equipped with auto-deploying chains. If you have never used these, 
	please talk to an officer, team leader, board member, or training officer first. The 
	ambulance must be moving for the chains to deploy. If you are already stuck, they do 
	no good, so plan ahead.
</p>
<p>
	Do not deploy the chains if you are going faster than 35mph.
</p>
<h3>Battery Switch/Plug-In</h3>
<p>
	Whenever the ambulance is not running, the battery switch under the driver's seat should 
	be turned off. This prevents accessories in the ambulance from running the batteries down.
</p>
<p>
	Whenever possible, the ambulance should be plugged in to house power when not in use. If 
	it's below freezing, this is mandatory! We have 3 patch cords. One stays at the Acker's on 
	the Robie Creek mesa, one stays in the ambulance shed, and one stays in the compartment with 
	the large oxygen cylinder. Never plug the ambulance in to an outlet that is not GFI protected!
</p>
<p>
	Besides keeping the batteries charged, the AC plugin runs a heater for the engine, and a 
	heater for the cabin.
</p>
<h3>Tools</h3>
<p>
	We now carry the following tools on the ambulance (in the left side compartment aft of the oxygen 
	compartment): Sawz-all, bolt cutters, tow rope, come-a-long, wheel chocks, and various ropes. 
	The wheel chocks should be used if the ambulance is parked on a slope. If you have any questions 
	about the use of these, please ask!
</p>
<h3>Interior Heater</h3>
<p>
	The ambulance has an interior 110v heater under the forward-most jumpseat. Never put anything 
	in this compartment! This heater should be set to keep the interior of the ambulance above freezing, 
	as we carry sterile water and saline on board.
</p>
<p>
	If you have any questions about ambulance operations, please contact the ambulance chassis officer, 
	a board member, an officer, or the training officer. If you discover any issues with the ambulance 
	chassis, please contact the ambulance chassis officer. (Please do not simply write the problem down 
	on the white-board, as I may not see it for several days.)
</p>
<p>
	If you have any issues with the medical equipment on board, please contact the medical supply officer.
</p>
