<h2>MCA Area Landing Zones</h2>

<%= link_to image_tag('LZs.png', :size => '598 × 761', :alt => 'click to download PDF'), :action => 'landing_zones_pdf' %>
<br />
<%= link_to image_tag('PDF-sm.png', :size => '64x64', :alt => 'PDF'), :action => 'landing_zones_pdf' %><br />
<%= link_to 'Map of landing zones', :action => 'landing_zones_pdf' %>
<br />
<p>
	Following are the coordinates for the LZ's in our area. Lifeflight should have these coordinates in their 
	system now. A copy of this list is in the drivers side visor of the ambulance. You may want to print a 
	copy to put in your records as well. 
</p>

<table>
	<tr><th>LZ#</th><th>Description</th><th>Longitude</th><th>Latitude</th></tr>

	<tr><td>LZ-1</td><td>Robie Creek Park</td><td>115 59.797</td><td>43 37.850</td></tr> 
	<tr><td>LZ-2</td><td>Mores Rim Rd and Hiway 21</td><td>115 59.167</td><td>43 38.297</td></tr> 

	<tr><td>LZ-3</td><td>Wilderness Ranch Rd and Mores Creek Circle (WR sub1)</td><td>115 59.003</td><td>43 40.534</td></tr>
	<tr><td>LZ-4</td><td>Wilderness Way and Pine Cone Way (WR sub5)</td><td>116 00.397</td><td>43 40.717</td></tr> 
	<tr><td>LZ-5</td><td>The end of Mule Deer Place (WR sub4)</td><td>115 59.529</td><td>43 40.097</td></tr>
	<tr><td>LZ-6</td><td>Large turnout west side of Hwy 21, 200 yds past Daggett Creek Rd (MP24)</td><td>115 58.559</td><td>43 40.699</td></tr> 

	<tr><td>LZ-7</td><td>Clear Creek Lodge</td><td>115 59.679</td><td>43 44.989</td></tr>
	<tr><td>Unofficial</td><td>Acker's Pasture (Robie Creek Mesa)</td><td>115 59.779</td><td>43 38.118</td></tr>
	<tr><td>Unofficial</td><td>Stephen's pad above Mores Creek Canyon</td><td>115 59.970</td><td>43 37.521</td></tr>
</table>


