<p>
	Life flight taking off after receiving patient from Mores Creek Ambulance near in
	Clear Creek area.
</p>
<%= image_tag 'Air-Rescue.jpg', :alt => 'Life flight Air Rescue', :size => '592 x 442'%>

<p>
	What would you do in this extrication scenario?
</p>
<%= image_tag 'TrailerHitchTest2.jpg', :alt => 'Trailer Hitch Test', :size => '592 × 540' %>