<p>
	Extrication training in front of the Wilderness Ranch fire station.
</p>
<%= image_tag 'photo-extrication.jpg', :class => 'shared', :alt => 'MCA Extrication Training', :size => '592 x 444'%>

<p>
	Life flight taking off after receiving a patient from Mores Creek Ambulance in the
	Clear Creek area.
</p>
<%= image_tag 'photo-air-rescue.jpg', :class => 'shared', :alt => 'Life flight Air Rescue', :size => '592 x 442'%>

<p>
	What would you do in this extrication scenario?
</p>
<%= image_tag 'photo-trailer-hitch.jpg', :class => 'shared', :alt => 'Trailer Hitch Test', :size => '592 × 540' %>