<h2 align="center">Ambulance Mobile Kenwood TK-690 Instructions</h2>

<%= image_tag 'tk690a.jpg', :alt => 'Kenwood TK-690', :size => '496×668' %>
<%= image_tag 'tk690b.jpg', :alt => 'Kenwood TK-690', :size => '508×739' %>

<table>
    <tr><td>1</td><td>Antenna</td></tr>
    <tr><td>2</td><td>Channel Knob</td></tr>

    <tr><td>3</td><td>Power/Volume Control</td></tr>
    <tr><td>4</td><td>Scan Button (same as 'S')</td></tr>
    <tr><td>5</td><td>Battery Release</td></tr>
    <tr><td>6</td><td>Monitor Button</td></tr>
    <tr><td>7</td><td>Push-To-Talk Switch</td></tr>

    <tr><td>8</td><td>Light</td></tr>
    <tr><td>9</td><td>Power/Transmit LED</td></tr>
    <tr><td>10</td><td>Function Keys (S, A, B, C)</td></tr>
    <tr><td>11</td><td>Optional Keypad (not on MCA radios)</td></tr>
    <tr><td>12</td><td>Speaker/Mic Connector</td></tr>
</table>

<h3>General Info</h3>
To put the radio in scan or to stop scanning, press either the orange button on top (4) or the <b>S</b> key (10). 
These two buttons have the same function, and can be used interchangeably. Once out of scan mode, the channel 
can be changed by rotating the channel knob (2). Channels that have an arrow by them will be scanned when in 
scan mode. Channels without the arrow will not be scanned in scan mode. To add or remove a channel from 
scanning, turn to the desired channel, then press the <b>A</b> key (10) to add or remove the arrow.<p>

The light button (8) will turn on the light in the display. You can press it again to turn it off, or you 
can simply wait 5 seconds, and the light will turn itself off.

<h3>NightMode</h3>
To place the radio in nightmode, take it out of scan mode first, then press either the <b>B</b> or <b>C</b> 
key (10). These two keys are interchangeable. To take the radio out of nightmode, simply press the <b>B</b> 
or <b>C</b> key again. When in nightmode, the radio will squelch all traffic until a Mores Creek tone is 
heard. Once a Mores Creek tone is heard, the radio will beep, break squelch, and blink the power LED. The 
LED will continue to blink until the radio is taken out of nightmode or transmitted.<p>

<b><i>VERY IMPORTANT!</i></b><br>
When not in nightmode, this radio will provide no feedback that a Mores Creek tone has been received. This 
means that if you are away from the radio when a call comes in, there will be no notification of that call 
when you return. If you are on shift, take the radio with you. If you must leave it momentarily, put it in 
nightmode so you will know if Mores Creek has been toned out.<p>

<h3>Batteries</h3>
A fully charged battery should last for a 12 hour shift. Always start the shift with a fully charged 
battery. The batteries need to be in the charger for 6 hours to be fully charged.<p>
