<h2>10 Codes Used by Boise County Sheriffs</h2>
<table>
<tr><th>Code</th><th>Meaning</th></tr>

<tr><td>10-1</td><td>Unable to copy-change location</td></tr>
<tr><td>10-2</td><td>Signal good</td></tr>
<tr><td>10-3</td><td>Stop transmitting</td></tr>
<tr><td>10-4</td><td>Acknowledgement - OK</td></tr>
<tr><td>10-5</td><td>Relay</td></tr>
<tr><td>10-6</td><td>Busy unless urgent</td></tr>

<tr><td>10-7</td><td>Out of service</td></tr>
<tr><td>10-8</td><td>In service</td></tr>
<tr><td>10-9</td><td>Repeat</td></tr>
<tr><td>10-10</td><td>Fight in progress</td></tr>
<tr><td>10-11</td><td>Dog case</td></tr>
<tr><td>10-12</td><td>Stand by (stop)</td></tr>

<tr><td>10-13</td><td>Weather report</td></tr>
<tr><td>10-14</td><td>Prowler report</td></tr>
<tr><td>10-15</td><td>Civil disturbance</td></tr>
<tr><td>10-16</td><td>Domestic problem</td></tr>
<tr><td>10-17</td><td>Meet complaint</td></tr>
<tr><td>10-18</td><td>Quickly</td></tr>

<tr><td>10-19</td><td>Return to...</td></tr>
<tr><td>10-20</td><td>Location</td></tr>
<tr><td>10-21</td><td>Call ... by phone</td></tr>
<tr><td>10-22</td><td>Disregard</td></tr>
<tr><td>10-23</td><td>Arrived at scene</td></tr>
<tr><td>10-24</td><td>Assignment completed</td></tr>

<tr><td>10-25</td><td>Report in person, meet...</td></tr>
<tr><td>10-26</td><td>Detaining subject, expedite</td></tr>
<tr><td>10-27</td><td>Drivers license information</td></tr>
<tr><td>10-28</td><td>Vehicle registration information</td></tr>
<tr><td>10-29</td><td>Check for wanted</td></tr>
<tr><td>10-30</td><td></td></tr>

<tr><td>10-31</td><td>Crime in progress</td></tr>
<tr><td>10-32</td><td>Man with gun</td></tr>
<tr><td>10-33</td><td>Emergency!</td></tr>
<tr><td>10-34</td><td>Riot</td></tr>
<tr><td>10-35</td><td>Major crime alert</td></tr>
<tr><td>10-36</td><td>Correct time</td></tr>

<tr><td>10-37</td><td>Investigate - suspicious vehicle</td></tr>
<tr><td>10-38</td><td>Stopping suspicious vehicle</td></tr>
<tr><td>10-39</td><td>Urgent*use light, siren (Code 3)</td></tr>
<tr><td>10-40</td><td>Slent run NO lights or siren</td></tr>
<tr><td>10-41</td><td>Beginning tour of duty</td></tr>
<tr><td>10-42</td><td>Ending tour of duty</td></tr>

<tr><td>10-43</td><td>Information</td></tr>
<tr><td>10-44</td><td>Permission to leave... for...</td></tr>
<tr><td>10-45</td><td>Animal carcass at...</td></tr>
<tr><td>10-46</td><td>Assist motorist</td></tr>
<tr><td>10-47</td><td>Emergency road repair at...</td></tr>
<tr><td>10-48</td><td>Traffic standard at...</td></tr>

<tr><td>10-49</td><td>Traffic light out at...</td></tr>
<tr><td>10-50</td><td>Accident (F, PI, PD)</td></tr>
<tr><td>10-51</td><td>Wrecker needed</td></tr>
<tr><td>10-52</td><td>Ambulance needed</td></tr>
<tr><td>10-53</td><td>Road blocked at...</td></tr>
<tr><td>10-54</td><td>Livestock on roadway at...</td></tr>

<tr><td>10-55</td><td>Intoxicated driver</td></tr>
<tr><td>10-56</td><td>Intoxicated pedestrian</td></tr>
<tr><td>10-57</td><td>Hit and run (F, PI, PD)</td></tr>
<tr><td>10-58</td><td>Direct traffic</td></tr>
<tr><td>10-59</td><td>Convoy or escort</td></tr>
<tr><td>10-60</td><td></td></tr>

<tr><td>10-61</td><td>Personnel in area</td></tr>
<tr><td>10-62</td><td>Reply to message</td></tr>
<tr><td>10-63</td><td>Prepare to make written</td></tr>
<tr><td>10-64</td><td>Message, local del.</td></tr>
<tr><td>10-65</td><td>Net message assignment</td></tr>
<tr><td>10-66</td><td>Message cancellation</td></tr>

<tr><td>10-67</td><td>Clear for the net message</td></tr>
<tr><td>10-68</td><td>Dispatch information</td></tr>
<tr><td>10-69</td><td>Message received</td></tr>
<tr><td>10-70</td><td>Fire alarm</td></tr>
<tr><td>10-71</td><td>Advise nature of fire</td></tr>
<tr><td>10-72</td><td>Report progress of fire</td></tr>

<tr><td>10-73</td><td>Smoke report</td></tr>
<tr><td>10-74</td><td>Negative</td></tr>
<tr><td>10-75</td><td>In contact with...</td></tr>
<tr><td>10-76</td><td>Enroute</td></tr>
<tr><td>10-77</td><td>ETA (Estimated Time of Arrival)</td></tr>
<tr><td>10-78</td><td>Need assistance</td></tr>

<tr><td>10-79</td><td>Notify coroner</td></tr>
<tr><td>10-80</td><td></td></tr>
<tr><td>10-81</td><td></td></tr>
<tr><td>10-82</td><td>Reserve lodging</td></tr>
<tr><td>10-83</td><td></td></tr>
<tr><td>10-84</td><td>If meeting... advise ETA...</td></tr>
<tr><td>10-85</td><td>Delayed, due to...</td></tr>

<tr><td>10-86</td><td></td></tr>
<tr><td>10-87</td><td>Pick up / distribute checks</td></tr>
<tr><td>10-88</td><td>Present phone number</td></tr>
<tr><td>10-89</td><td></td></tr>
<tr><td>10-90</td><td>False alarm</td></tr>
<tr><td>10-91</td><td>Pick up prisoner/subject</td></tr>
<tr><td>10-92</td><td></td></tr>

<tr><td>10-93</td><td>Blockade</td></tr>
<tr><td>10-94</td><td>Drag racing</td></tr>
<tr><td>10-95</td><td>Prisoner</td></tr>
<tr><td>10-96</td><td>Mental subject</td></tr>
<tr><td>10-97</td><td></td></tr>
<tr><td>10-98</td><td>Prison/Jail break</td></tr>

<tr><td>10-99</td><td>Wanted/stolen indicated</td></tr>
</table>
