// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

body {
	margin: 0;
	padding: 0;
}

#banner {
	margin: 0;
	padding: 0;
	height: 75px;
	background-image: url(LeatherTop.png);
	background-repeat: repeat-x;

	#login {
		margin: 0;
		height: 30px;
		padding: 30px 16px 0 0;
		float: right;
		color: $leather_text;
		font-weight: normal;
		text-align: right;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
	}
	
	#mo_nav {
		margin: 0;
		height: 30px;
		padding: 30px 0 0 16px;
		float: left;
		color: $leather_text;
		font-weight: normal;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		
		a {
			&:hover { color: $leather_text_highlight };
			&:visited { color: $leather_text };
		}
	}

	h1 {
		margin: 0 150px 0 150px;
		padding: 18px 0 0 0;
		font-size: 28px;
		height: 60px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: normal;
		text-align: center;
		color: $leather_text;
	}
}

#wrapper {
	margin: 0;
	padding: 0;
	min-width: 943px;
	background: url(rightcol.png) repeat-y right top;
}

#maincontent {
	padding: 0 0 16px 0;
	margin: 8px 206px 0px 16px;
	background: url(med-sign-watermark.png) no-repeat center;
	min-height: 492px;

	.notice, .alert {
		background-color: $primary_yellow;
		font-weight: bold;
		text-align: center;
	}
	
	.notice {
		color: $standard_text;
	}
	
	.alert {
		color: $primary_red;
	}
	
	h3 {
		color: $standard_text;
		font-weight: bold;
		text-align: center;
	}
}

#sidebar {
	padding: 8px;
	margin: 0;
	float: right;
	width: 173px;
	height: auto;

	h2 {
		font-size: 1.1em;
		font-weight: normal;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		color: $standard_text;
		padding: 0;
		margin: 0 0 0.8em 0;
	}

	h3 {
		font-size: 0.75em;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		color: $cal_blue;
		padding: 0;
		margin: 0.8em 0 0.25em 0;
	}

	ul {
		font-size: 0.75em;
		font-weight: normal;
		font-family: Arial, Helvetica, sans-serif;
		color: $standard_text;
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
			margin: 0 0 0 1em;
			padding: 0;

			span {
				float: left;
				width: 2em;
			}
		}
	}

	em {
		font-weight: bold;
		font-style: normal;
	}
}

.caltable {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	padding: 0;
}

.caltable h2 {
	float: left;
	font-size: 1.5em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: $standard_text;
	padding: 0;
	margin: 0 0 0.25em 0;
}

#caltablehdr {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0px;

	tr {
		height: auto;
		margin: 0;
		padding: 0;
	}

	td {
		width: 33%;
		border: 0px;
		margin: 0;
		padding: 0;
	}
}

.img-right {
	float: right;
}

.img-center {
	float: center;
}

.caltable {
	.hdrrow {
		vertical-align: bottom;
		height: 2em;
	}
	
	thead th {
		text-align: left bottom;
	}

	tbody {
		tr {
			vertical-align: top;
			height: 11em;
		}

		td {
			/* background-color: white; */	/* stark white for weekdays */
			border: 1px solid $cal_dayborder;
		}

		td.weekend {
			background-color: $cal_offwhite;  /* subtle off white for weekends */
		}

		td.today {
			background-color: $cal_today;  /* light blue */
		}
	}
	
	ul {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.7em;
		line-height: 0.95;
		color: $cal_shiftreddark;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}

		span {
			float: left;
			width: 1.5em;
		}
	}
}

.daynum {
	text-align: right;
	font-size: 0.75em;
	color: $cal_daynumber;
	height: 17px;
	min-width: 90px;
	padding: 3px 5px 3px 5px;  /* top, right, bottom, left */
}

td.today a.daylink {
	color: $cal_todaylink;
	text-decoration: underline;
}

a.daylink {
	color: $cal_daynumber;
	font-style: normal;
	font-weight: bold;
}

a:hover.daylink {
	color: $cal_todaylink;
}

td.today .daynum {
	color: $cal_todaylink; /* dark blue */
}

/* for each shift w/i a day - combine this with status (full, hastwo, etc.) */
.s1, .s2, .s3, .s4 {
	height: 2em;
	padding: 2px 4px 2px 4px;
	margin: 0px 2px 2px 2px;
}

.full, .hastwo, .hasone, .empty {
	-moz-border-radius: 0.25em 0.5em 0.25em 0.5em ;
	border-radius: 0.25em;
	border: 1px solid;
}

/* for the status of each shift, how many people it has */
.full {
	background-color: $cal_shiftgreen;
	border-color: $cal_shiftgreenborder;
}

.hastwo {
	background-color: $cal_shiftyellow;
	border-color: $cal_shiftyellowborder;
}

.hasone {
	background-color: $cal_shiftred;
	border-color: $cal_shiftredborder;
}

.empty {
	border: 0px;
}

a.hastwolink {
	font-weight: normal;
	color: $cal_shiftyellow;
}

a.hasonelink {
	font-weight: normal;
	color: $cal_shiftred;
}

a:hover.hastwolink, a:hover.hasonelink {
	font-weight: bold;
	color: $cal_shiftreddark;
}


