body {
	margin: 0;
	padding: 0;
}

#banner {
	margin: 0;
	padding: 0;
	height: 75px;
}

#wrapper {
	margin: 0;
	padding: 0;
	min-width: 943px;
	background: url(rightcol.png) repeat-y right top;
}

#maincontent {
	padding: 0 0 16px 0;
	margin: 8px 206px 0px 16px;
	background: url(med-sign-watermark.png) no-repeat center;
}

#sidebar {
	padding: 8px;
	margin: 0;
	float: right;
	width: 173px;
	height: auto;
}

#login {
	margin: 0;
	height: 30px;
	padding: 30px 16px 0 0;
	float: right;
	color: #44290a;
	font-weight: normal;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

h1 {
	margin: 0;
	padding: 18px 100px 0 100px;
	background-image: url(LeatherTop.png);
	background-repeat: repeat-x;
	font-size: 28px;
	height: 60px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: center;
	color: #44290a;
}

.caltable {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	padding: 0;
}

#sidebar h2 {
	font-size: 1.1em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333333;
	padding: 0;
	margin: 0 0 0.8em 0;
}

#sidebar h3 {
	font-size: 0.75em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #1577aa;
	padding: 0;
	margin: 0.8em 0 0.25em 0;
}

#sidebar ul {
	font-size: 0.75em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#sidebar ul li {
	margin: 0 0 0 1em;
	padding: 0;
}

#sidebar ul li span {
	float: left;
	width: 2em;
}

.caltable h2 {
	float: left;
	font-size: 1.5em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #333333;
	padding: 0;
	margin: 0 0 0.25em 0;
}

#caltablehdr {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0px;
}

#caltablehdr tr {
	height: auto;
	margin: 0;
	padding: 0;
}

#caltablehdr td {
	width: 33%;
	border: 0px;
	margin: 0;
	padding: 0;
}

.img-right {
	float: right;
}

.img-center {
	float: center;
}

.caltable .hdrrow {
	vertical-align: bottom;
	height: 2em;
}

.caltable thead th {
	text-align: left bottom;
}

.caltable tbody tr {
	vertical-align: top;
	height: 11em;
}

.caltable tbody td {
	/* background-color: white; */	/* stark white for weekdays */
	border: 1px solid #cccccc;
}

.caltable td.weekend {
	background-color: #fbfbfb;  /* subtle off white for weekends */
}

.caltable td.today {
	background-color: #e8eff7;  /* light blue */
}

.daynum {
	text-align: right;
	font-size: 0.75em;
	color: #cab2b2;
	height: 17px;
	min-width: 90px;
	padding: 3px 5px 3px 5px;  /* top, right, bottom, left */
}

td.today a.daylink {
	color: #0092ef;
	text-decoration: underline;
}

a.daylink {
	color: #cab2b2;
	font-style: normal;
	font-weight: bold;
}

a:hover.daylink {
	color: #0092ef;
}

td.today .daynum {
	color: #0092ef; /* dark blue */
}

/* for each shift w/i a day - combine this with status (full, hastwo, etc.) */
.s1, .s2, .s3, .s4 {
	height: 2em;
	padding: 2px 4px 2px 4px;
	margin: 0px 2px 2px 2px;
}

.full, .hastwo, .hasone, .empty {
	-moz-border-radius: 0.25em 0.5em 0.25em 0.5em ;
	border-radius: 0.25em;
	border: 1px solid;
}

/* for the status of each shift, how many people it has */
.full {
	background-color: #e1eee1;  /* green */
	border-color: #a0c9a0;
}

.hastwo {
	background-color: #eeeebf;  /* yellow */
	border-color: #c6c635;
}

.hasone {
	background-color: #eee1e1;  /* red */
	border-color: #c9a0a0; /* brightness of about 78 */
}

.empty {
	border: 0px;
}

a.hastwolink {
	font-weight: normal;
	color: #eeeebf;
}

a.hasonelink {
	font-weight: normal;
	color: #eee1e1;
}

a:hover.hastwolink, a:hover.hasonelink {
	font-weight: bold;
	color: #705454;
}

.caltable ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	line-height: 0.95;
	color: #705454;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cattable ul li {
	margin: 0;
	padding: 0;
}

.caltable ul span {
	float: left;
	width: 1.5em;
}

em {
	font-weight: bold;
	font-style: normal;
}
