BODY {

TD.topnav {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10.5px;
	color: white;
}

A.nav {
	color: white;
}

A:HOVER {
	 text-decoration: underline;
}

.blue {
	color : #000066;
}

.green {
	color : #006666;
}

.purple {
	color : #660099;
}

}