h1 {
	font-size: 1.5em;
	font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
}

body {
	padding: 20px;
}

table {
	font-size: 1em;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #999999;
}

th {
	font-size: 0.9em;
	font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
	color: #ffffff;
	background-color: #999999;
	text-align: center;
}

td {
	width: 100px;
	border: 1px solid #999999;
	padding: 0px;
	margin: 0;
	background-color: #454545;
}

.daynum {
	font-size: 0.9em;
	background-color: #eeeeee;
	height: 17px;
	width: 100px;
	padding-top: 3px;
	padding-left: 10px;
}

.noday {
	background-color: #cccccc;
	border: 0px;
}

.calhdrrow {
	background-color: #999999;
}

.caldayrow {
	vertical-align: top;
	height: 177px;
}

.s1green, .s2green, .s3green, .s4green, .s1red, .s2red, .s3red, .s4red, .s1yellow, .s2yellow, .s3yellow, .s4yellow, .shiftempty, .dayempty {
	width: 100px;
	font-size: 0.7em;
	padding-left: 4px;
	padding-right: 4px;
}

.s1green, .s2green, .s3green, .s4green, .s1red, .s2red, .s3red, .s4red, .s1yellow, .s2yellow, .s3yellow, .s4yellow, .shiftempty  {
	vertical-align: middle;
	height: 36px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.s1green, .s2green, .s3green, .s4green, .s1yellow, .s2yellow, .s3yellow, .s4yellow {
	color: #101010;
}

.s1red, .s2red, .s3red, .s4red {
	color: white;
}

.s1green {
	background-image: url(/images/s1green.png);
}

.s2green {
	background-image: url(/images/s2green.png);
}

.s3green {
	background-image: url(/images/s3green.png);
}

.s4green {
	background-image: url(/images/s4green.png);
}

.s1red {
	background-image: url(/images/s1red.png);
}

.s2red {
	background-image: url(/images/s2red.png);
}

.s3red {
	background-image: url(/images/s3red.png);
}

.s4red {
	background-image: url(/images/s4red.png);
}

.s1yellow {
	background-image: url(/images/s1yellow.png);
}

.s2yellow {
	background-image: url(/images/s2yellow.png);
}

.s3yellow {
	background-image: url(/images/s3yellow.png);
}

.s4yellow {
	background-image: url(/images/s4yellow.png);
}

.dayempty {
	height: 120px;
	color: black;
}

.pos {
	width: 30px;
	font-family: "Lucida Console", Monaco, monospace;
}

.caldayrow ul {
	list-style-type: none;
	margin: 0;
	padding-top: 0px;
	padding-left: 0px;
}

.caldayrow span {
	float: left;
	width: 17px;
}

.caldayrow p {
	margin: 0 0 0 0;
}
