// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 800px;
}

#banner {
	position: relative;
	margin: 0;
	padding: 0;
	height: 158px;
	width: 788px;
	
	#logo {
		margin: 0;
		padding: 0;
		border: 0;
		float: left;
		width: 180px;
	}
	
	#mca-banner {
		margin: 0;
		padding: 0;
		border: 0;
		float: left;
		width: 608px;
	}

	#signinstatus {
		position: absolute;
		left: 688px;
		top: 120px;
		width: 100px;
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		text-align: center;
	}
}

#wrapper {
	margin: 0;
	padding: 0;
	width: 800px;
	height: auto;
	background: url(light-blue-bg.png) repeat-y left top;

	#footer {
		clear: both;
		margin: 0 0 0 180px;
		text-align: center;
		font-style: italic;
		font-size: 0.8em;
		color: #666666;
	}
}

#sidebar {
	padding: 8px;
	margin: 0;
	float: left;
	width: 164px;
	height: auto;
	
	ul {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		line-height: 2em;
		color: #705454;
		list-style-type: none;
		text-align: right;
		margin: 0;
		padding: 8px 8px 100px 8px;

		li {
			margin: 0;
			padding: 0;
		}
	}
	
	p {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.7em;
		text-align: center;
		color: #666666;
	}
}

#maincontent {
	padding: 20px 8px 20px 8px;
	margin: 0 0 0 180px;
	width: 592px;
	height: auto;
	text-align: center;
	
	.notice, .alert {
		background-color: #dfad23;
		font-weight: bold;
		text-align: center;
	}
	
	.notice {
		color: #333333;
	}
	
	.alert {
		color: #df5523;
	}
	
	.img-right {
		border: 0;
		margin: 0 0 0 10px;
		padding: 0;
		float: right;
	}
	
	h1 {
		font-size: 1.75em;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align: center;
		color: #333333;
	}

	h2 {
		font-size: 1.25em;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: normal;
		text-align: center;
		color: #44290a;
	}

	h3 {
		font-size: 1em;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align: center;
		color: #44290a;
	}

	p {
		font-size: 0.80em;
		font-weight: normal;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		color: #333333;
		padding: 0;
		margin: 0 0 0.8em 0;
	}
	
	p.small {
		font-size: 0.70em;
		font-weight: normal;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		color: #666666;
		padding: 20px 0 0 0;
		margin: 0 0 0.8em 0;
	}
	
	ul {
		list-style-type: none;

		li {
			margin: 0;
			padding: 0;
		}
	}
	
	em {
		font-weight: bold;
		font-style: italic;
		color: #222222;
		text-align: center;
	}

	img {
		padding: 0;
		margin: 0 auto 0 auto;
		border: 0;
	}
	
	table {
		border: 1px solid #333333;
		border-collapse: collapse;
		font-size: 0.8em;
		padding: 0 0 20px 0;
		margin: 0 auto 0 auto;
		
		th {
			font-size: 1.1em;
			padding: 2px;
			border: 1px solid #666666;
			background-color: #CCCCCC;
		}
		td {
			padding: 2px;
			border: 1px solid #999999;
		}
	}
	
	table.nolines {
		border: 0px;
		
		td {
			padding: 2px;
			border: 0px;
		}
	}
	
	table.wide {
		width: 100%;
		
		td {
			width: 50%;
		}
	}
}


