// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

body {
	margin: 0 auto 0 auto;
	padding: 0;
	width: 800px;
}


#banner {
	position: relative;
	margin: 0;
	padding: 0;
	height: 158px;
	width: 788px;
	
	#logo {
		margin: 0;
		padding: 0;
		border: 0;
		float: left;
		width: 180px;
	}
	
	#mca-banner {
		margin: 0;
		padding: 0;
		border: 0;
		float: left;
		width: 608px;
	}

	#signinstatus {
		position: absolute;
		left: 688px;
		top: 120px;
		width: 100px;
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		text-align: center;
	}
}

#wrapper {
	margin: 0;
	padding: 0;
	width: 800px;
	height: auto;
	background: url(light-blue-bg.png) repeat-y left top;

	#footer {
		clear: both;
		margin: 0 0 0 180px;
		text-align: center;
		font-style: italic;
		font-size: 0.8em;
		color: $subtle_text;
	}
}

#sidebar {
	padding: 8px;
	margin: 0;
	float: left;
	width: 164px;
	height: auto;
	
	ul {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		line-height: 2em;
		color: $sidebar_text;
		list-style-type: none;
		text-align: right;
		margin: 0;
		padding: 8px 8px 50px 8px;

		li {
			margin: 0;
			padding: 0;
		}
	}
	
	p {
		font-family: "Times New Roman", Times, serif;
		font-size: 0.75em;
		text-align: center;
		color: $subtle_text;
	}
}

#maincontent {
	padding: 20px 8px 20px 8px;
	margin: 0 0 0 180px;
	width: 592px;
	height: auto;
	text-align: center;
	font-size: 1em;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	color: $standard_text;
	
	.notice, .alert {
		background-color: $primary_yellow;
		font-weight: bold;
		text-align: center;
	}
	
	.notice {
		color: $standard_text;
	}
	
	.alert {
		color: $primary_red;
	}
	
	h1 {
		font-size: 1.75em;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align: center;
		color: $standard_text;
	}

	h2 {
		font-size: 1.25em;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight: normal;
		text-align: center;
		color: $header2_text;
	}

	h3 {
		font-size: 1em;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align: center;
		color: $header3_text;
	}
	
	div.iconbox {
		padding: 0;
		margin: 0 auto 0 auto;
		text-align: center;
		
		img {
			margin: 0 0 10px 0;
			padding: 0 5px 0 0;
		}
	}

	.img-right {
		border: 0;
		margin: 0 0 0 10px;
		padding: 0;
		float: right;
	}
	
	p {
		font-size: 0.90em;
		text-align: left;
	}
	
	p.small {
		font-size: 0.75em;
		text-align: center;
		color: $subtle_text;
	}
	
	ul {
		list-style-type: square;
		text-align: left;

		li {
			margin: 0;
			padding: 0;
		}
	}
	
	em {
		font-weight: bold;
		font-style: italic;
		color: $bolder_text;
	}

	img {
		padding: 0;
		margin: 0 auto 20px auto;
		border: 0;
	}
	
	img.shared {
		border: 1px solid $primary_yellow;
	}
	
	table {
		border: 1px solid $table_border;
		border-collapse: collapse;
		font-size: 0.9em;
		padding: 0 0 20px 0;
		margin: 0 auto 0 auto;
		
		th {
			font-size: 1.1em;
			padding: 2px;
			border: 1px solid $table_border;
			background-color: $table_hdr_bg;
		}
		td {
			font-size: 0.95em;
			padding: 2px;
			border: 1px solid $table_cell_border;
		}
		td.small {
			font-size: 0.8em;
		}
	}
	
	table.nolines {
		border: 0px;
		font-size: 0.9em;
		
		td {
			padding: 2px;
			border: 0px;
		}
	}
	
	table.wide {
		width: 100%;
		
		td {
			width: 50%;
		}
	}
	
	.ok_hours {
		background-color: $cal_shiftgreen;
		font-weight: bold;
	}
	
	.low_hours {
		background-color: $cal_shiftred;
		font-weight: bold;
	}
}


